html, body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden; }

a {
  transition: color 1s; }
  a:hover {
    text-decoration: none; }

.default-link {
  color: #3f3f3f; }
  .default-link:hover {
    color: #161616; }

#default-header {
  text-align: center;
  padding-bottom: 20vh;
  padding-top: 17vh;
  max-height: 80vh;
  min-height: 50vh;
  font-size: 8vw;
  text-shadow: 0.5vh 0.5vh 0.35vh rgba(0, 0, 0, 0.55); }
  #default-header .myName {
    transition: color .4s ease-in-out;
    z-index: 1; }
    #default-header .myName #first-name {
      font-weight: 900; }
    #default-header .myName #middle-name {
      display: none;
      font-weight: 400; }
    #default-header .myName #last-name {
      font-weight: 100; }
  #default-header #splash-middle {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 1;
    filter: blur(0px);
    width: 100vw;
    z-index: -1;
    transition: filter .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out, background-size .1s ease-in-out; }
  #default-header #splash-left {
    background: url("../assets/imgs/20170707_110521.JPG");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: -100vw;
    width: 100vw;
    z-index: -1;
    filter: blur(20px);
    opacity: 0;
    transition: filter .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out, background-size .1s ease-in-out; }
  #default-header #splash-right {
    background: url("../assets/imgs/DSC_0857.JPG");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 100vw;
    width: 100vw;
    z-index: -2;
    filter: blur(20px);
    opacity: 0;
    transition: filter .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out, background-size .1s ease-in-out; }

.fade {
  opacity: 1;
  margin-top: -8vh;
  height: 8vh;
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%); }

#icon-bar {
  background-color: white;
  text-align: center;
  font-size: 8vw;
  padding-top: 6vh; }
  #icon-bar .myLinks {
    transition: color .4s ease-in-out;
    font-size: 4vw; }
    #icon-bar .myLinks a {
      margin: 0vw 1vw; }

@media screen and (min-device-width: 1080px) {
  #default-header {
    height: 80vh;
    padding-top: 30vh; }
    #default-header .myName {
      margin-left: 15px; } }
